*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --green: #198754;
    --overShadow: rgba(0,0,0,0.2);
    --gray: #3F444B;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ========================================Header==================================== */
#header{
    width: 100%;
    background: transparent;
    padding: 10px;
    width: 100%;
}
#logo{
    justify-content: start;
}
#header #navBar{
    display: flex;
    justify-content: start;
}
#header #navBar ul{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background: transparent; 
}
#header a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
}
#header .underLine{
    height: 2px;
    width: 0;
    background: var(--green);
    transition: 1s;
}
#header li{
    padding: 0px;
}
#header li:hover {
    background: transparent;
}
#header li:hover .underLine{
    height: 2px;
    width: 100%;
    background: var(--green);
}
#header .headerbtn{
    background: var(--green);
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    display: block;
}
#header .headerbtn:hover{
    background: black;
}
#header a:active{
    color: var(--green);
}

#header #Bar{
    color: white;
    padding: 10px;
    font-size: 30px;
    float: right;
    display: none;
}
#header #cancleBar{
    font-size: 30px;
    float: right;
    display: none;
    color: white;

}
.sticky{
    position: fixed;
    top: 0;
    background: var(--green);
}
/* ==================================> section1 <====================================== */
#section1{
    background: url(images/banner.jpg);
    height: 110vh;
    background-size: cover;
    margin-top: -110px;
}

#section1 .banner{
    background: var(--overShadow);
    height: 110vh;
    background-size: cover;
}

#section1 h1{
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 25%;
}

#section1 a{
    text-decoration: none;
    padding: 17px 45px;
    background: white;
    border-radius: 2px;
    color: var(--green);
    font-weight: bold;
}

#section1 a:hover{
    background: black;
}

/* ==================================> section2 <====================================== */
#section2{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
#section2 h1{
    margin-bottom: 10px;
}
#section2 img{
    width: 450px;
}
#section2 p{
    margin-bottom: 30px;
    color: gray;
    text-align: justify;
}
/* ==================================> section3 <====================================== */
#section3 {
    background: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section3 h1{
    padding-bottom: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
#section3 img {
    width: 375px;
}
#section3 .cartcontainer{
    padding: 20px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    background: white;
    height: 307px;
    width: 380px;
    margin: 0 auto;
}
#section3 p{
    color: gray;
}
#section3 a{
    padding: 15px 30px;
    background: var(--green);
    color: white;
    margin-top: 10px;
    text-decoration: none;
    box-shadow: 1px 1px 30px;
}
/* ==================================> section4 <====================================== */
#section4{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section4 img{
    border: 5px solid white;
}

#section4 h1{
    text-align: center;
    font-weight: bold;
}
/* ==================================> section5 <====================================== */
#section5{
    background: #4C4C4C;
    padding-top: 100px;
    padding-bottom: 100px;
}
#section5 h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 34px;
    line-height:51px ;
}
#section5 h2{
    font-weight: bold;
}
#section5 h5{
    font-weight: bold;
}
#section5 h5{
    font-size: 24px;
    line-height: 24px;
}
#section5 li{
    list-style:disc;
    color: gray;
}

/*==================================> section6 <====================================== */
#section6{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
#section6 .container h1{
    text-align: center;
    font-weight: bold;
}
#section6 .container .form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section6 .container form input{
    width: 470px;
    height: 50px;
}
#section6 textarea{
    width: 470px;
}

#section6 a{
   width: 470px;
   background: var(--green);
   color: white;
   padding: 17px 210px;
   color: white;
   text-decoration: none;
}
/* ================================== Footer ====================================== */
#footerSection{
    background: #07262E;
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;
}

#footerSection a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#footerSection p{
    color: white;
}

#footerSection h5{
    color: white;
}
#footerSection .submitBtn{
    padding: 4px 15px;
    background: black;
    margin-top: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

#footerSection #upArrow{
   display: none;
   position: fixed;
   top: 90%;
   right: 0;
   background:var(--green);
   color:white ;
   padding: 10px;
   transition: 1s;
}
#footerSection #upArrow:hover{
    background:black;
    color:white ;
    border: 1px solid white;
}